/* Ensure the body and html take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Flex container for the page */
#wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Ensure content takes remaining space */
#content {
    flex: 1;
}

/* Footer styles */
#footer {
    background-color: #F3F3F3;
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
    flex-shrink: 0;
}

.footer-social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-links li {
    margin: 0 10px;
}

.footer-social-links img {
    width: 30px; 
}

/* Contact form styles */
#contact-row {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.contact-column {
    width: 50%;
    margin-top: 60px;
}

#contact-body {
    padding: 30px;
}

/* Responsive styles */
@media (max-width: 600px) {
    h2 {
        font-size: 30px;
    }
    #ContactForm{
        margin-top: 20px;
    }

    #contact-row {
        flex-direction: column;
    }

    #contact-body {
        margin: 0;
        padding: 0;
    }
    #contact-body img{
        margin-bottom: 30px;
    }

    form {
        width: 100%; 
    }

    #message {
        width: 100%; 
    }

    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-links {
        font-size: 12px;
        padding: 5px 10px;
    }
    #header ul {
        margin-right: 0px;
        margin: 0px;
    }
    h2 {
        font-size: medium;
    }
    .contact-column {
        width: 90%;
        margin-top: 60px;
    }
}

@media only screen and (max-width: 600px) {
    #footer-content {
        width: 100%;
    }
    .content-row {
        margin: 0;
        padding: 20px;
    }
    .footer-social-links ul li{
        justify-content: center;
        display: flex;
    }
}
