.contact-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 35px;
}

.contact-row{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 30px;
}

@media (max-width: 600px) {
    .contact-row {
        flex-direction: column;
        margin: 0px;
    }
    .contact-column{
        width: 70%;
    }

    #developerImage img {
        width: 200px;
        margin: 0px;
    }

    .profile-column {
        width: 100%;
    }
    .footer-social-links{
        font-size: 12px;
    }
    .content-row{
        margin: 20px;
    }
}