.enrollment-row {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border: 2px solid #f0f0f0;
    padding: 40px;
    margin: 30px;
}

.enrollment-column {
    flex: 1;
    margin-right: 20px;
}

.enrollment-column:last-child {
    margin-right: 0;
}

.enrollmentButton {
    margin-top: 10px;
    border-radius: 10px;
    width: 150px;
    font-size: large;
}

.enrollmentButton:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.developerSection p {
    margin-left: 80px;
    font-size: large;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 15px;
    width: 300px;
    display: flex;
}

textarea {
    max-width: 100%;
    resize: vertical; /* Allow only vertical resizing */
}

@media (max-width: 600px) {
    .enrollment-row{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 300px;
    }
    #developerImage img {
        width: 300px;
        margin: 0px;
        margin-top: 40px;
    }
    #randomTextParagraph{
        margin: 0px;
        margin-top: 20px;
        width: 200px;
        font-size: 16px;
    }
}


@media only screen and (max-width: 600px) {
    .nav-links{
     font-size: 12px;
     }
     #header ul {
         margin-right: 0px;
         margin: 0px;
     }
     h2{
         font-size: medium;
     }
     .footer-social-links{
        font-size: 12px;
    }
 }
 
