
.enrollment-row {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border: 2px solid #f0f0f0;
    padding: 40px;
    margin: 30px;

}

.enrollment-column{
 width: 50%;
}

.enrollmentButton {
    margin-top: 10px;
    border-radius: 10px;
    width: 150px;
    font-size: large;
}

.enrollmentButton:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.developerSection p{
    margin-left: 80px;
    font-size: large;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 15px;
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
