#developerProfile {
    background-color: white;
    border: 2px solid #f0f0f0;
    text-align: left;
    padding: 10px;
    margin: 15px;
    font-family: sans-serif;
    height: 700px;
}

#developerName {
    font-weight: bold;
    font-size: x-large;
}

#developerBio {
    margin-top: 15px;
    margin-bottom: 5px;
}

#developerLanguage {
    display: inline-block;
    align-items: center;
    background-color: rgb(206, 169, 255);
    border-radius: 4px;
    padding: 10px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    display: inline-block;
    align-items: center;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #3c4fcf;
    color: white;
    border-color: transparent;
    border-width: 1px;
}

.profile-row {
    display: flex;
    flex-direction: row;
}

.profile-column {
    width: 50%;
    margin: 10px;
}

.contactButton {
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
}

.contactButton:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#developerLanguageImage img {
    width: 40px; 
    height: auto;
    border: #3c4fcf;
}

#developerImage img{
    width: 250px;
    border-radius: 50px;
}

#developerContact{
margin-left: 95px;
}