body {
    padding: 0;
    margin: 0;
}

#header {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

#header h2 {
    display: inline-block;
    margin: 0;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

#header ul li {
    margin-left: 20px;
}

#header ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

#developerProfile {
    background-color: white;
    border: 2px solid #f0f0f0;
    text-align: left;
    padding: 10px;
    margin: 15px;
    font-family: sans-serif;
}

#developerName {
    font-weight: bold;
    font-size: x-large;
}

#developerBio {
    margin-top: 15px;
    margin-bottom: 5px;
}

#developerLanguage {
    display: inline-block;
    align-items: center;
    background-color: rgb(206, 169, 255);
    border-radius: 4px;
    padding: 10px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    display: inline-block;
    align-items: center;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #3c4fcf;
    color: white;
    border-color: transparent;
    border-width: 1px;
}

.profile-row {
    display: flex;
    flex-direction: row;
}

.profile-column {
    width: 50%;
    margin: 10px;
}

.contactButton {
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
    width: 150px;
    font-size: large;
}

.contactButton:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#developerLanguageImage img {
    width: 40px; 
    height: auto;
}

#developerImage img {
    width: 300px;
    border-radius: 5px;
}

#developerContact {
    margin-left: 80px;
}

@media (max-width: 600px) {
    .profile-row {
        flex-direction: column;
    }

    #developerImage img {
        width: 200px;
    }

    .profile-column {
        width: 100%;
    }
}

#footer {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

.footer-social-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.footer-social-links li {
    margin-right: 10px;
}
