
.services-grid ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.services-grid li {
    margin-bottom: 10px;
}

.services-body {
    padding-top: 80px;
}

.services-products {
    padding: 30px;
    padding-top: 30px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.services-grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.services-grid-two ul {
    display: flex;
    flex-direction: column;
}

.services-header-text{
    width: 80%;
}

.grid-item {
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding: 30px;
    margin: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
    
}

.grid-item:hover{
    transform: scale(1.03); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
