body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#header a {
    text-decoration: none; 
    color: black; 
}

#footer {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    padding: 30px;
}

#footer p:hover {
    color: #3c4fcf;
}

h2 {
    margin: 0;
    text-decoration: none; 
    color: black; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-left: 10px;
}

#main {
    max-width: 600px;
    margin: auto;
    text-align: right;
}

#main-slogan {
    text-align: left;
    color: #3c4fcf;
    font-size: xx-large;
    margin-bottom: 40px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.main-slogan {
    text-align: left;
}

button {
    background-color: #4859FF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #3c4fcf;
}

#filterButton {
    margin-top: 30px;
    margin-left: 40px;
    width: 150px;
    height: 40px;
    display: block;
    text-align: left;
}

#developers {
    display: flex;
    flex: start;
    flex-wrap: wrap;
    transition: margin-top 0.1s;
    justify-content: center;
}

.developer {
    width: 39%;
    border: 2px solid #f0f0f0;
    text-align: left;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.developer:hover {
    border-color: #d8d8d8;
    background-color: #f0f0f0;
}

.developer img {
    width: 100%;
    height: auto;
}

.developer .programmingLanguage {
    display: inline-block;
    align-items: center;
    background-color: rgb(206, 169, 255);
    border-radius: 4px;
    padding: 10px;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

#programmingLanguageCheckboxesContainer {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    #developers {
        justify-content: center;
        margin: 0;
    }

    .developer {
        width: 100%;
    }

    #main-slogan {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }

    #filterForm,
    #filterForm label {
        text-align: left;
    }
}

#input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: #F3F3F3;
    width: 100%;
    padding: 50px;
    border-bottom: 1px, solid #E8E8E8;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.row-2 {
    display: flex;
    flex-direction: row;
}

.column-one {
    flex-direction: column;
    width: 20%;
    margin-right: 30px;
}

.column-two {
    flex-direction: column;
    width: 20%;
}

#languagesLabel {
    border-radius: 3px;
    font-size: small;
    width: 450px;
    height: 3px;
    margin-left: 7px;
    padding-bottom: 4px;
}

#checkboxesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    font-size: small;
    width: 100%;
    margin-left: 8px;
    transition: max-height 0.2s;
}

#checkboxesContainer div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#checkboxesContainer label {
    margin-right: 10px;
}

#checkboxesContainer.expanded {
    display: block;
    font-size: small;
    width: 450px;
    background-color: white;
    margin-left: 1px;
    max-height: 400px;
    padding: 10px;
    background-color: white;
}

#languagesContainer {
    border: 1px solid #747474;
    border-radius: 3px;
    font-size: small;
    width: auto;
    margin-bottom: 16px;
    margin-top: 27px;
    background-color: white;
}

#checkboxesContainer div:hover {
    background-color: #007bff;
    color: #fff;
}

#budget_input {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    #input-container {
        flex-direction: column;
    }

    .column-one,
    .column-two,
    .column-three {
        width: 100%;
    }

    .filter-button-wrapper {
        margin-top: 20px;
    }
}

p {
    padding: 0;
    margin: 0;
}

#ContactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

#message {
    margin-top: 10px;
    width: 700px;
}

#about-body {
    padding: 30px;
    padding-top: 80px;
}

#about-row {
    display: flex;
    flex-direction: row;
}

.about-column {
    width: 50%;
}

.contact-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-right-column {
    width: 500px;
    margin-left: 20px;
}

.contact-left-column {
    width: 550px;
}

#contact-body {
    padding-top: 80px;
}

#message {
    width: 450px;
}
